@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
}


/* =============VARIABLES=========== */
:root{
  --Green:#61DBD1;
  --Dark-Grey: hsl(0, 0%, 15%);
  --Deep-Blue: hsl(243, 66%, 59%); 
  --Blue: hsl(243, 66%, 59%);
  --Purple:hsl(276, 51%, 47%);
  --Pink: 	hsl(326, 57%, 48%);
  --Fushia: 	hsl(340, 75%, 54%);
  --Light-Grey:#E5E5E5;
  --heading-font-family:'Saira',Helvetica;
  --text-font-family:'Lato', sans-serif; 
  --Black:	hsl(0, 0%, 0%);
  --White:hsl(220, 23%, 97%);
  --ff-text: 'Poppins', sans-serif;
  --ff-headings: Arial, sans-serif;
  --body-color: hsl(220, 23%, 97%);
  --nav-color: hsl(220, 23%, 97%) ;
  --side-nav: #010718;
  --text-color:hsl(0, 0%, 0%);
  --search-bar: #F2F2F2;
  --search-text: #010718;
  --background-horizontal: linear-gradient(0deg, rgba(64,93,230,1) 0%, rgba(88,81,219,1) 30%, rgba(131,58,180,1) 57%, rgba(193,53,132,1) 78%, rgba(193,48,108,1) 100%);
  --background-vertical: linear-gradient(90deg, rgba(64,93,230,1) 0%, rgba(88,81,219,1) 35%, rgba(131,58,180,1) 53%, rgba(193,53,132,1) 70%, rgba(225,48,108,1) 100%);
  --fs-xl: clamp(1.5rem, 3vw + 1rem, 2.5rem);
  --fs-800: clamp(1rem, 2.4vw + 1rem, 2rem);
  --fs-600: clamp(0.7rem, 2vw + 1rem, 1.5rem);
  --fs-400: clamp(0.5rem, 1.7vw + 1rem, 1rem);
  --fs-xs: clamp(.375rem, 1vw + 1rem, .75rem);
}


  
  

/* =============GENERAL STYLING=========== */
body{
    background: var(--body-color);
    color: var(--text-color);
    font-size: var(--fs-400);
    font-family: var(--ff-text);
    padding: 0 7em;
  }

main{
    display: flex; 
   /* flex: 1; */
}
nav{
    margin: 0 auto;
}

h1{
    font-size: var(--fs-xl);
}
h2{
    font-size: var(--fs-800);
}
h3{
    font-size: var(--fs-600);
}
.brand-btn{
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    background: transparent;
    color: var(--Green)!important;
    font-size: var(--fs-600);
    padding: .3rem .5rem .3rem .5rem;
    border: solid var(--Green) 2px;
    height: 3rem;
cursor: pointer;
}
/* nav, 
main{
    width: auto;
} */
/* ******************Footer************************* */
footer{
    display: flex;
    font-size: var(--fs-400);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-bottom, 
.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    text-align: center;
}
.footer-menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}


/* ******************Grid layout*********************** */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "main main main main main main"
      "main main main main main main"
      "main main main main main main"
      "footer footer footer footer footer footer "
      "footer footer footer footer footer footer ";
    font-family: var(--ff-text);
    /* height: 100vh;
    width: calc(100vw - 5em); */
    position: relative;
    margin-top: 4.375em;
  }

  .main { grid-area: main; }
  .footer { grid-area: footer; }
  


  /* **********************Dark Mode******************** */
  
body.dark{
    --body-color:hsl(0, 0%, 0%);
    --nav-color: hsl(0, 0%, 0%);
    --side-nav: #242526;
    --text-color:hsl(220, 23%, 97%);
}
body.dark nav{
    border: 1px solid #393838;
    color: var(--text-color);
}
body.dark nav ul li a,
body.dark .dark-light .bx,
body.dark nav .socialBox i {
    color: var(--text-color);
}
.info-item a,
.socials i,
.social a i,
  .dark-light i,
  .dark-light a i,
  .dark-light li a,
  .searchToggle i{
      color: var(--text-color);
      font-size: var(--fs-400);
      cursor: pointer;
      transition: all 0.3s ease;
  }
 
  .dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
    margin: 0 auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

  

/* =============Navbar=========== */
nav{
    display: flex;
    justify-content: center;
    top: 0;
    max-height: 5em;
    background-color: var(--nav-color);
    z-index: 100;
    font-size: var(--fs-600);
    padding: 1em 0;
}

nav .nav-bar{
    /* position: relative; */
    height: 100%;
    /* max-width: 75em; */
    width: 100%;
    background-color: var(--nav-color);
    color: var(--text-color);
    margin: 0 auto;
    /* padding: 0 1.875em; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
    color: var(--Black);
    font-size: 1.5625em;
    /* padding:  0.3125em; */
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a{
    font-size: var(--fs-600);
    font-weight: 500;
    color: var(--White);
    text-decoration: none;
}
.txt-gradient,
.nav-logo a{
    width: 5em;
    font-weight: 600;
    background: rgb(64,93,230);
    background: var(--background-vertical);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.txt-gradient-xl{
    width: 20em;
    font-weight: 600;
    background: rgb(64,93,230);
    background: var(--background-vertical);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socialBox{
    display: flex;
    gap: .7em;
}
.socialBox a i{
    justify-content: space-between;
}
.menu .logo-toggle{
    display: none;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.info-item a,
.footer-menu ul li a,
.nav-links li a{
    /* position: relative; */
    font-size: var(--fs-400);
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}
.nav-links li a::before{
    content: '';
    /* position: absolute; */
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--Black);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li:hover a::before{
    opacity: 1;
}
.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.nav-bar .darkLight-searchBox i{
    color: var(--Black);
    font-size: 1em;
}
.menu{
    margin-left: 5em;
}

/* *****************Hero***************** */
.hero{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* max-width: 70vw; */
    min-height: 50vh;
    margin: auto;
    gap: 2em;
    font-size: var(--fs-xl);
}
/* .hero-desc,
.hero-img{
    flex: 1;
} */
.hero .hero-desc p{
        top: 4.125em;
        font-size: var(--fs-xl);
        font-family: var(--ff-text);
        font-weight: 700;
        animation: slideRight 3s ease-in-out forwards;
          
}
.hero img{
    width: 6em;
    clip-path:ellipse(50% 50%);
    margin: auto;
}
.hero-pic{
    display: flex;
    width: 6.3em;
    height: 6.3em;
    clip-path:ellipse(50% 50%);
    background: var(--background-vertical);   
}

/* ***********************PORTFOLIO************************ */
.cross-section,
.portfolio-section{
    height: auto;
    width: 90vw;
    color: var(--text-color);
    /* padding: 9rem 9rem 3rem 9rem; */
    font-family: 'Work Sans', 'Poppins';
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 28vw));
  margin-bottom: 3rem;
  gap: 1rem;
}
.filters{
    margin-top: 1.5em;
    }
    .portfolio-filters {
      list-style: none;
      padding: 0;
      margin: 0 0 2em;
      text-align: center;
      font-family: var(--White);
    }
    .portfolio-filters li {
    display: inline-block;
    padding: 5px 10px;
    font-size: .9em;
      line-height: 1.5;
      cursor: pointer;
      width: auto;
      border: none;
    }
    .portfolio-filters li:hover,
    .portfolio-filters li.active{
    background-color: var(--Pink);
    color: var(--White);
    font-weight: bold;
    transform: translateX(5%);
    }
    .filter-btn{
    line-height: 1.5em;
    }    
.portfolio-item{
    max-width: 28rem;
  }
  .portfolio-item-h{
    max-width: 350px;
    margin: 0;
  }
  .img-wrapper{
    position:relative;
    overflow: hidden;
    margin: 1rem;
  }
  .img-wrapper > img{
    display: block;
    width: 100%;
   aspect-ratio: 1/1;   /*  pour obtenir une forme carréé*/
   object-fit: cover;
   object-position: center;
   border-radius: 8px;
  }
  .img-wrapper > .content{
  position: absolute;
  inset:0; /*equivalent de top, left, right et bottom 0 le texte restera à l'intérieur du container*/
  font-size: var(--fs-600);
  color: var(--White);
  padding: 1rem;
  background: rgba(59, 59, 59, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .img-wrapper > img,
  .img-wrapper > content{
    transition: 200ms ease-in-out;
  }
  
  .img-wrapper:hover > img.zoom{
    filter: blur(5px);
    transform: scale(1.1);
  }
  
  .img-wrapper > .content.fade{
    opacity: 0;
  }
  
  .img-wrapper:hover > .content.fade{
    opacity: 1;
    
  }
  
  .img-wrapper > .content a{
    text-decoration: none;
    color: var(--White);
  }
  
.project-desc{
    /* display: flex;
    justify-content: center;
    align-items: stretch; */
    margin: 2rem;
    } 
    
    .delete{
      display: none;
    }

/* ******************RESUME PAGE********************** */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.xp-container{
    display: flex;
    justify-content: space-between;
    border-bottom: .1em solid var(--Light-Grey);
    height: 10vh;
    margin-top: 2em;
}
.xp-container .job-title{
    font-size: var(--fs-600);

}
.company-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hightlight{
    background: var(--Green);
   color: var(--White);
   padding: .3em;
}
.fa-cat:hover{
    display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.hightlight:hover{
    animation: bounce 1.5s ease-in-out forwards;
    color: var(--text-color);
}
.accordion-header:hover {
    background-color: hsl(0, 0%, 85%);
  }
  .accordion-content {
    padding: 0 18px;
    background-color: var(--White);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }  



  /* ********PROJECT PAGE TEMPLATE*********** */
  .project-visuals{
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 2em; 
  grid-template-areas: 
    "main-visual main-visual main-visual main-visual second-visual second-visual"
    "main-visual main-visual main-visual main-visual second-visual second-visual"
    "main-visual main-visual main-visual main-visual third-visual third-visual"
    "main-visual main-visual main-visual main-visual third-visual third-visual";
  }
  .project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .project-infos{
    display: flex;
    justify-content: space-between;

  }
  .main-visual { 
    grid-area: main-visual; 
}
.main-visual img,
.second-visual img,
.third-visual img{
    width: 100%;
    object-fit: contain;
}
.second-visual { grid-area: second-visual; }
.third-visual { grid-area: third-visual; }

/* ******Contact page************ */
main.contact-page{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* *********ANIMATIONS*********** */
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}
.bounce{
	animation-name: bounce;
	-webkit-animation-name: bounce;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
	
	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 	
}

@keyframes bounce {
	0% {
		transform: translateY(0%) scaleY(0.6);
	}
	60%{
		transform: translateY(-100%) scaleY(1.1);
	}
	70%{
		transform: translateY(0%) scaleY(0.95) scaleX(1.05);
	}
	80%{
		transform: translateY(0%) scaleY(1.05) scaleX(1);
	}	
	90%{
		transform: translateY(0%) scaleY(0.95) scaleX(1);
	}				
	100%{
		transform: translateY(0%) scaleY(1) scaleX(1);
	}	
}
/* µµµµµµµµµµµµMedia Queries************** */

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        /* padding: 20px; */
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: -0%;
    }
    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-toggle .siderbarClose{
        color: var(--White);
        font-size: var(--fs-800);
        cursor: pointer;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        color: var(--text-color);
        padding-top: 30px;
    }
    .nav-links li a{
        display: block;
        margin-top: 20px;
        color: var(--White);
    }
    .hero{
        flex-direction: column;
        justify-content: center;
    }
    .hero p{
        text-align: center;
    }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(25em, 30em));
    }
}