@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}


/* =============VARIABLES=========== */
:root{
  --Green:#61DBD1;
  --Dark-Grey: hsl(0, 0%, 15%);
  --Deep-Blue: hsl(243, 66%, 59%); 
  --Blue: hsl(243, 66%, 59%);
  --Purple:hsl(276, 51%, 47%);
  --Pink: hsl(326, 57%, 48%);
  --Fushia: hsl(340, 75%, 54%);
  /* --love-glow: 0px 0px 4px rgba(234, 62, 162, 0.75);
  --orange-glow: 0px 0px 4px rgba(248, 128, 42, 0.75);  */
  --Orange-glow: #FF6D28;
  --Pink-glow: #FB2576;
  --Blue-glow: #00F5FF;
  --Off-white: #F5F5F6;
  --Light-Grey:#E5E5E5;
  --heading-font-family:'Saira',Helvetica;
  --text-font-family:'Lato', sans-serif; 
  --Black:	hsl(0, 0%, 0%);
  --White:hsl(220, 23%, 97%);
  --ff-text: 'Montserrat', sans-serif;
  /* --ff-title: Arial, sans-serif; */
  --ff-heading: 'Montserrat', sans-serif;
  --ff-heading2:'Mukta Vaani', sans-serif;
  --body-color: hsl(220, 23%, 97%);
  --nav-color: hsl(220, 23%, 97%) ;
  --side-nav: #010718;
  --text-color:hsl(0, 0%, 0%);
  --search-bar: #F2F2F2;
  --search-text: #010718;
  --background-horizontal: linear-gradient(0deg, rgba(64,93,230,1) 0%, rgba(88,81,219,1) 30%, rgba(131,58,180,1) 57%, rgba(193,53,132,1) 78%, rgba(193,48,108,1) 100%);
  --background-vertical: linear-gradient(90deg, rgba(64,93,230,1) 0%, rgba(88,81,219,1) 35%, rgba(131,58,180,1) 53%, rgba(193,53,132,1) 70%, rgba(225,48,108,1) 100%);
  --fs-xl: clamp(1.3rem, 2.5vw + 1rem, 2.5rem);
  --fs-800: clamp(1rem, 2.4vw + 1rem, 2rem);
  --fs-600: clamp(0.7rem, 2vw + 1rem, 1.5rem);
  --fs-400: clamp(0.5rem, 1.7vw + 1rem, 1rem);
  --fs-xs: clamp(.375rem, 1vw + 1rem, .75rem);
  --shadow: 0 5px 5px 2px rgba(0,0,0,0.1);
  --b-radius: 0.5rem;
  --b-radius-bubble: 50%;
}


  
  

/* =============GENERAL STYLING=========== */
body{
    background: var(--body-color);
    color: var(--text-color);
    font-size: var(--fs-400);
    font-family: var(--ff-text);
    padding: 0 7em;
    max-width: 106.25em;
  }

main{
    display: flex; 
   /* flex: 1; */
}
nav{
    margin: 0 auto;
}

h1{
    font-size: var(--fs-xl);
    font-family: var(--ff-heading);
}
h2{
    font-size: var(--fs-800);
}
h3{
    font-size: var(--fs-600);
}
.brand-btn{
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    background: transparent;
    color: var(--Blue)!important;
    font-size: var(--fs-400);
    padding: .3rem .5rem .3rem .5rem;
    border: solid var(--Blue) 2px;
    height: 3rem;
cursor: pointer;
margin-top: 2em;
}
.brand-btn.btn-transparent a,
.brand-btn.btn-transparent a:visited{
    color: var(--Blue)!important;
    text-decoration: none;
}
.brand-btn.btn-fill{
    background-color: var(--Blue);
    border: none;
}
.brand-btn.btn-fill a, 
.brand-btn a:visited{
    color: var(--White)!important;
    text-decoration: none;
}
p.title{
    font-family: var(--ff-heading2);
    font-size: var(--fs-800);
    font-style: italic;
    font-weight: 800;
    color: var(--Blue);
    margin: 0 0 1.5rem 0;
    letter-spacing: .1rem;
}
/* nav, 
main{
    width: auto;
} */


  /* **********************Dark Mode******************** */
  
  body.dark{
    --body-color:hsl(0, 0%, 0%);
    --nav-color: hsl(0, 0%, 0%);
    --side-nav: #242526;
    --text-color:hsl(220, 23%, 97%);
}
body.dark nav{
    border-bottom: 1px solid #393838;
    color: var(--text-color);
}
body.dark nav ul li a,
body.dark .dark-light .bx,
body.dark nav .socialBox i {
    color: var(--text-color);
}
.info-item a,
.socials i,
.social a i,
  .dark-light i,
  .dark-light a i,
  .dark-light li a,
  .searchToggle i{
      color: var(--text-color);
      font-size: var(--fs-400);
      cursor: pointer;
      transition: all 0.3s ease;
  }
 
  .dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
    margin: 0 auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

  
/* ******************Footer************************* */
footer{
    display: flex;
    font-size: var(--fs-xs);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-bottom, 
.footer-menu{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    text-align: center;

}
.footer-menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.f-menu li a{
    font-size: var(--fs-xs);
}


/* ******************Grid layout*********************** */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "main main main main main main"
      "footer footer footer footer footer footer ";
    font-family: var(--ff-text);
    /* height: 100vh;
    width: calc(100vw - 5em); */
    position: relative;
    margin-top: 4.375em;
  }

  .main { 
    grid-area: main;
    max-width: 80vw;
 }
  .footer { grid-area: footer; }
  



/* =============Navbar=========== */
nav{
    display: flex;
    justify-content: center;
    top: 0;
    max-height: 5em;
    background-color: var(--nav-color);
    z-index: 100;
    font-size: var(--fs-400);
    padding: 1em 0;
}

nav .nav-bar{
    /* position: relative; */
    height: 100%;
    /* max-width: 75em; */
    width: 100%;
    background-color: var(--nav-color);
    color: var(--text-color);
    margin: 0 auto;
    /* padding: 0 1.875em; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
    color: var(--Black);
    font-size: 1.5625em;
    /* padding:  0.3125em; */
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a{
    font-size: var(--fs-400);
    font-weight: 700;
    color: var(--White);
    text-decoration: none;
    font-family: var(--ff-heading);
}
.txt-gradient,
.nav-logo a{
    width: 5em;
    font-weight: 700;
    background: rgb(64,93,230);
    background: var(--background-vertical);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.txt-gradient-xl{
    width: 20em;
    font-weight: 600;
    background: rgb(64,93,230);
    background: var(--background-vertical);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socialBox{
    display: flex;
    gap: .7em;
}
.socialBox a ion-icon{
    justify-content: space-between;
    color: var(--text-color);
}
.menu .logo-toggle{
    display: none;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.info-item a,
.footer-menu ul li a,
.nav-links li a{
    /* position: relative; */
    font-size: var(--fs-400);
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}
.nav-links li a::before{
    content: '';
    /* position: absolute; */
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--Black);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li:hover a::before{
    opacity: 1;
}
.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
    min-width: 10vw;
}

.nav-bar .darkLight-searchBox i{
    color: var(--text-color);
    font-size: 1em;
}
.menu{
    margin-left: 5em;
}

.dark-light,
.socialBox{
    flex:1 1 0%;
}

/* *****************Hero***************** */
.hero{
    /* position: relative; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* max-width: 70vw; */
    min-height: 50vh;
    margin: auto;
    font-size: var(--fs-xl);
    margin-bottom: 2.5em;
}

/* .hero-desc,
.hero-img{
    width: 60vw;
} */
.hero .hero-desc p{
        top: 4.125em;
        font-size: var(--fs-xl);
        font-family: var(--ff-text);
        font-weight: 700;
        animation: slideRight 3s ease-in-out forwards;      
}
.hero-desc{
    max-width: 60vw;
}
.hero img{
    width: 6em;
    height: 6em;
    margin: 0 auto;
}
.hero-pic{
    display: flex;
    align-items: center;
    width: 6.3em;
    height: 6.3em;
    background: var(--background-vertical);   
}
.hero-pic,
.hero img{
    clip-path:ellipse(50% 50%);
}

/* ***********************PORTFOLIO************************ */
.cross-section,
.portfolio-section{
    height: auto;
    width: 90vw;
    color: var(--text-color);
    /* padding: 9rem 9rem 3rem 9rem; */
    font-family: 'Work Sans', 'Poppins';
}

.grid{
    display: grid;
    justify-items: center;
    /* padding: 10rem; */
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 450px)); */
    grid-template-columns: 2fr 2fr 2fr;
    /* gap:1rem; */
  }
.filters{
    margin-top: 1.5em;
    }
    .portfolio-filters {
      list-style: none;
      padding: 0;
      margin: 0 0 2em;
      text-align: center;
      font-family: var(--White);
    }
    .portfolio-filters li {
    display: inline-block;
    padding: 5px 10px;
    font-size: .9em;
      line-height: 1.5;
      cursor: pointer;
      width: auto;
      border: none;
    }
    .portfolio-filters li:hover,
    .portfolio-filters li.active{
    background-color: var(--Blue);
    color: var(--White);
    font-weight: bold;
    transform: translateX(5%);
    }
    .filter-btn{
    line-height: 1.5em;
    }    
.portfolio-item{
    max-width: 28rem;
  }
  .portfolio-item-h{
    max-width: 350px;
    margin: 0;
  }
  .img-wrapper{
    position:relative;
    overflow: hidden;
    margin: 1rem;
  }
  .img-wrapper > img{
    display: block;
    width: 100%;
   aspect-ratio: 1/1;   /*  pour obtenir une forme carréé*/
   object-fit: cover;
   object-position: center;
   border-radius: 8px;
  }
  .img-wrapper > .content{
  position: absolute;
  inset:0; /*equivalent de top, left, right et bottom 0 le texte restera à l'intérieur du container*/
  font-size: var(--fs-600);
  color: var(--White);
  padding: 1rem;
  background: rgba(59, 59, 59, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .img-wrapper > img,
  .img-wrapper > content{
    transition: 200ms ease-in-out;
  }
  
  .img-wrapper:hover > img.zoom{
    filter: blur(5px);
    transform: scale(1.1);
  }
  
  .img-wrapper > .content.fade{
    opacity: 0;
  }
  
  .img-wrapper:hover > .content.fade{
    opacity: 1;
    
  }
  
  .img-wrapper > .content a{
    text-decoration: none;
    color: var(--White);
  }
  
.project-desc{
    /* display: flex;
    justify-content: center;
    align-items: stretch; */
    margin: 2rem;
    } 
    
    .delete{
      display: none;
    }

/* ******************RESUME PAGE********************** */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bio-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3em 7em;
    line-height: 1.5;
    position: relative;
}
.bio-content > *{
    flex:1;
}
.img-container{
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); /*pour appliquer le shadow sur la forme clipart il faut agir en filter drop shadow sur le parent*/
}
.img-placeholder img {
    position: relative;
    width: 60vw;
}
.img-placeholder{
    position: absolute;
    width: 500px;
    height: 450px;
    background: var(--Deep-Blue);
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 75% 0, 85% 15%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 30% 100%, 14% 88%, 0 77%);
    border-radius: 8px;
    z-index: -1;
    box-shadow: var(--shadow);

}

.blob ion-icon{
    color: var(--White);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}


.bubble.love-icon {
    background-color: #FB2576 ;
}

.bubble{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    background-color: #FF6D28;
}

.element1::after,
 .element2::before{
    content: '';
    width: 7vw;
    height: 1px;
    background: var(--text-color);
    z-index: 5;
    position: absolute;
} 

.element1::before,
.element2::after{
    content: '';
    width: 1px;
    height: 8vh;
    background: var(--text-color);
    z-index: 5;
    position: absolute;
}
.element1::before{
    left: 24rem;
    top: .5rem;
}
.element2::before{
    right: 27rem;
}
.element1::after{
    left: 24rem;
    top: 2.5rem;

}
.element2::after{
    right: 27rem;

}

.blob{
    color: var(--text-color);
    display: flex;
    align-items: center;
    background-color: var(--body-color);
    padding: 1rem;
    box-shadow: var(--shadow);
    border-radius: var(--b-radius);
   /* width: 30vw; */
   /* position: relative; */
   /* right: -10vw; */
}

.blob.element1{
    position: relative;
    top: -10rem;
    left: -7rem;

}
.blob.element2{
    margin-left: 4rem;
}

.self-roi{
    font-size: var(--fs-xl);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: var(--text-color);
}

.self-roi ion-icon{
    background: var(--Blue-glow);
    font-size: var(--fs-xl);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    color: var(--White);
}
.emphasize{
    font-family: var(--ff-heading);
    font-weight: 600;
}
.polygone {
    width: 90vw;
    height: 65vh;
    -webkit-clip-path: polygon(0% 24.94%, 81.3% 24.94%, 100% 74.81%, 0% 74.81% );
    /* clip-path: inset(0% 45% 0% 45% round 10px); */
    background-color: var(--Light-Grey);
    border-radius: 8px;
    position: absolute;
    top: 50vh;
    z-index: -4;
}
.tools-container{
    display: flex;
}
.box{
    flex: 1 1 0%;
}

.contact-page img{
/* .bio-content img{ */
    width: 50vw;
}

.xp-container{
    display: flex;
    justify-content: space-between;
    border-bottom: .1em solid var(--Light-Grey);
    height: 7vh;
}
.xp-container .job-title{
    font-size: var(--fs-600);
    font-weight: 500;

}
.company-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.highlight{
    background: var(--Blue);
   color: var(--White);
   padding: .3em;
}
.fa-cat:hover{
    display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.xp-container .job-title:hover,
.highlight:hover{
    animation: bounce 1.5s ease-in-out forwards;
    color: var(--text-color);
}
.accordion-header:hover {
    background-color: hsl(0, 0%, 85%);
  }
  .accordion-content {
    padding: 0 18px;
    background-color: var(--White);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 2.5em;
  }  



  /* ********PROJECT PAGE TEMPLATE*********** */
  .project-visuals{
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 2em; 
  grid-template-areas: 
    "main-visual main-visual main-visual main-visual second-visual second-visual"
    "main-visual main-visual main-visual main-visual second-visual second-visual"
    "main-visual main-visual main-visual main-visual third-visual third-visual"
    "main-visual main-visual main-visual main-visual third-visual third-visual";
  }
  .project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .project-infos{
    display: flex;
    justify-content: space-between;

  }
  .main-visual { 
    grid-area: main-visual; 
}
.main-visual img,
.second-visual img,
.third-visual img{
    width: 100%;
    object-fit: contain;
}
.second-visual { grid-area: second-visual; }
.third-visual { grid-area: third-visual; }

/* ******Contact page************ */
main.contact-page{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main.contact-page h3{
    text-align: center;
}

/* *********ANIMATIONS*********** */
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}
.bounce{
	animation-name: bounce;
	-webkit-animation-name: bounce;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
	
	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 	
}

@keyframes bounce {
	0% {
		transform: translateY(0%) scaleY(0.6);
	}
	60%{
		transform: translateY(-100%) scaleY(1.1);
	}
	70%{
		transform: translateY(0%) scaleY(0.95) scaleX(1.05);
	}
	80%{
		transform: translateY(0%) scaleY(1.05) scaleX(1);
	}	
	90%{
		transform: translateY(0%) scaleY(0.95) scaleX(1);
	}				
	100%{
		transform: translateY(0%) scaleY(1) scaleX(1);
	}	
}
/* µµµµµµµµµµµµMedia Queries************** */

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        /* padding: 20px; */
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: -0%;
    }
    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-toggle .siderbarClose{
        color: var(--White);
        font-size: var(--fs-800);
        cursor: pointer;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        color: var(--text-color);
        padding-top: 30px;
    }
    .nav-links li a{
        display: block;
        margin-top: 20px;
        color: var(--White);
    }
    .hero{
        flex-direction: column;
        justify-content: center;
    }
    .hero p{
        text-align: center;
    }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(25em, 30em));
    }
}