
  /*==========================================================================
    ANIMATIONS DE PAGE
  =================================================================*/


  .page-wrapper.moveToLeft{
    overflow:hidden;
    animation: 2s 1 SlideLeft;
    transition: SlideLeft ease-in;
  }
  .page-wrapper.moveToRight{
    overflow:hidden;
    animation: 2s 1 SlideRight;
    transition: SlideRight ease-in;
  }
  .page-wrapper.moveToTop{
    overflow:hidden;
    animation: 2s 1 SlideTop;
    transition: SlideTop ease-in;
  }
  .page-wrapper.moveToBottom{
    overflow:hidden;
    animation: 2s 1 SlideBottom;
    transition: SlideBottom ease-in;
  }



  
    
  /* @keyframes tilt-effect{
    transform:{perspective(300px) rotateX(-1.86deg) rotateY(1.33deg) scale3d(1, 1, 1);  
} */

@keyframes SlideLeft {
    from {
        margin-left: 300%;
        width: 100%;
      }
    
      to {
        margin-left: 3.5rem;
        width: 100%;
      }
}

@keyframes SlideRight {
    from {
        margin-right: 300%;
        width: 100%;
      }
    
      to {
        margin-right: 3.5rem;
        width: 100%;
      }
}
@keyframes SlideTop {
    from {
        margin-top: 300%;
        width: 100%;
      }
    
      to {
        margin-top: 1rem;
        width: 100%;
      }
}

@keyframes SlideBottom {
    from {
        margin-bottom: 300%;
        /* margin-left: 20rem; */
        width: 100%;
        margin-right: 20px;
      }
    
      to {
        margin-bottom: 1rem;
        width: 100%;
        margin-left: 20rem;
      }
}

@keyframes drop {
    0% {
      transform-origin: bottom right;
      opacity: 1;
    }
    20% {
      transform: 
        translate3d(0, 20px, 0)
        rotate3d(0, 0, 1, -10deg);
      opacity: 1;
    }
    40%, 45% {
      transform: 
        translate3d(0, -120px, 0)
        rotate3d(0, 0, 1, 10deg);
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: 
        translate3d(0, 2000px, 0)
        rotate3d(0, 0, 1, 10deg);
    }
  }


  .pt-page-moveToLeftEasing {
    -webkit-animation: moveToLeft .7s ease-in-out both;
    animation: moveToLeft .7s ease-in-out both;
  }
  .pt-page-moveToRightEasing {
    -webkit-animation: moveToRight .7s ease-in-out both;
    animation: moveToRight .7s ease-in-out both;
  }
  .pt-page-moveToTopEasing {
    -webkit-animation: moveToTop .7s ease-in-out both;
    animation: moveToTop .7s ease-in-out both;
  }
  .pt-page-moveToBottomEasing {
    -webkit-animation: moveToBottom .7s ease-in-out both;
    animation: moveToBottom .7s ease-in-out both;
  }
  
  @-webkit-keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); }
  }
  @keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  }
  
@-webkit-keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

