/* @keyframes tilt-effect{
    transform:{perspective(300px) rotateX(-1.86deg) rotateY(1.33deg) scale3d(1, 1, 1);  
} */

@keyframes SlideLeft {
    from {
        margin-left: 300%;
        width: 100%;
      }
    
      to {
        margin-left: 3.5rem;
        width: 100%;
      }
}

@keyframes SlideRight {
    from {
        margin-right: 300%;
        width: 100%;
      }
    
      to {
        margin-right: 3.5rem;
        width: 100%;
      }
}
@keyframes SlideTop {
    from {
        margin-top: 300%;
        width: 100%;
      }
    
      to {
        margin-top: 1rem;
        width: 100%;
      }
}

@keyframes SlideBottom {
    from {
        margin-bottom: 300%;
        /* margin-left: 20rem; */
        width: 100%;
        margin-right: 20px;
      }
    
      to {
        margin-bottom: 1rem;
        width: 100%;
        margin-left: 20rem;
      }
}

@keyframes drop {
    0% {
      transform-origin: bottom right;
      opacity: 1;
    }
    20% {
      transform: 
        translate3d(0, 20px, 0)
        rotate3d(0, 0, 1, -10deg);
      opacity: 1;
    }
    40%, 45% {
      transform: 
        translate3d(0, -120px, 0)
        rotate3d(0, 0, 1, 10deg);
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: 
        translate3d(0, 2000px, 0)
        rotate3d(0, 0, 1, 10deg);
    }
  }

