*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .card-container {
	flex: 300px;
	margin: 6rem;
}
.card {
    font-weight: bold;
    position: relative;
    width: 100%;
    margin-left: 4rem;
}  
.card a {
    padding: 30px;
    width: 100%;
    height: 400px;
    border: 2px solid black;
    background: white;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.25s ease;
}
.card a #img-firstplan{
    position: relative;
    z-index: 10;
}
/* 
#img-firstplan::before{
    content: url(./img/overlay-maroon.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute; 
  left:-3px;
  top:10px;
} */
/* #img-secondplan, 
#img-thirdplan{
    position: absolute;
}

#img-secondplan {
    top: 0.5rem;
    left: -0.1rem;
    z-index: 9;
}
#img-secondplan:hover{
    transform: translate(-30px, -30px);
}*/
.card a #img-thirdplan{
    position: absolute;
    z-index: 5;
    top: -0.8rem;
    left: -1rem;

}
.card a #img-thirdplan:hover{
    transform: translateX(-30px, -30px);
}
.card a #img-firstplan:hover {
    transform: translateX(30px, 30px);
    border-color: black;
} 