@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


* {
  margin: 0;
    padding: 0;
  box-sizing: border-box;
}

.carousel{
  position: relative;
  height:400px;
  width:80%;
  margin: 0 auto;
}

.carousel_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_track-container{
  position:relative;
  background: lightblue;
  height: 100%;
}

.carousel_track{
  padding: 0;
  margin: 0;
  list-style: none;
}
.carousel_slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button{

  position: absolute;
  top:50%;
transform:translateY(-50%);
background: rgb(119, 69, 69);
border: 0;
}

.carousel_button i{
  width: 3rem;
  height: 3rem;
  color: rgb(195, 0, 255);
  z-index: 1000;
  cursor: pointer;
}
.carousel_button-left{
  left: -3.5rem;
}
.carousel_button-right{
  right: -3.5rem;
}
.carousel_nav{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left:50%;
  transform: translateX(-50%);
}

.carousel_bullet{
  border: none;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0 .5rem;
  background: rgb(41, 39, 39);
}
.carousel_bullet.current-slide{
  background-color: rgba(173, 173, 172, 0.75);
}










