*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Urbanist:wght@400;500;600;700;800;900&display=swap');



:root{
  --Primary-Light:hsla(333, 56%, 16%, 0.95);
  --Primary-Font-Light:hsla(204, 4%, 9%, 0.95);
  --Secondary-Light:hsla(332, 67%, 27%, 0.95);
  --Third-Light:hsla(332, 64%, 46%, 1);
  --Contrast-Light:hsla(20, 18%, 23%, 0.95);
  --White:hsl(240,100%,99%);
  --heading-font-family:'Fredoka',Helvetica;
  --text-font-family:'Urbanist', sans-serif;
  --Purple:	hsl(301, 63%, 13%); 
  --Pink:	hsl(322, 70%, 33%);
  --Bleu:	hsl(174, 57%, 45%);
  --Green:hsl(135, 36%, 62%);
  --Grey:	hsl(0, 0%, 15%);
  --Dark-Grey:	hsl(0, 0%, 5%);
  --Black:	hsl(0, 0%, 0%);
  --White:hsl(220, 23%, 97%);
}

body{
  height:100vh;
}

h1, h2, h3 {
color: var(--Purple);
font-family: var(--heading-font-family);
font-weight: bold;
line-height: 1.5em;
margin-top: 0;
margin-bottom: 1em;
}
h4{
color: var(--Bleu);
font-family: var(--heading-font-family);
font-weight: bold;
line-height: 1.5em;
margin-top: 0;
margin-bottom: 1em;
font-size: 1em;
}
h5, h6{
color: var(--Black);
font-family: var(--heading-font-family);
font-weight: bold;
margin-top: 0;
margin-bottom: 1em;
font-size: .6em;
}
h3{
font-size: 1.4em;
}
.block-title h3 {
display: inline-block;
position: relative;
margin: 1.9em .7em .7em;
padding: 0;
color: var(--Purple);
}



/* ======================================================
        NAVBAR ET HEADER
============================================================= */

.sidebar{
    width: 200px;
    position: absolute;
}
.sidebar img{
    max-width: 80px;
}
.sidebar .nav-list i{
    /* margin: 0 1rem; */
    color: var(--White);
    font-size: 1.5em;
}
.header-branding{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    color: var(--White);
    font-family: var(--text-font-family);
    width: 100%;
}

.header-branding h1{
  color: var(--White);
  font-family: var(--heading-font-family);
  font-size: 1.1em;
}
.brand-title{
  font-size: 1.1rem;
  line-height: .9rem;
  height: 50px;
  padding-top: 2rem;
  font-family: var(--text-font-family);
}

.navbar{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: var(--Purple);
  color: var(--White);
  height: 100vh;
  min-width: 200px;
  padding: 1em;
  font-size: 1em;
}

.navigation{
  width: 200px;
}

.navigation ul{
  display:flex;
  align-items: center;
}
.navigation ul li{
  list-style: none;
  width: 200px;
  text-align: center;
}

.nav-list li a:hover,
.nav-list li.active a {
    background-color: var(--Secondary-Light);
    opacity:1;
    width: 200px;
    font-weight: bold;
}
.nav-list li a, .nav-list li a:hover {
  display: block;
  padding: 1em 2em;
  color: var(--White);
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid var(--White);
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}
.nav-list{
    height: 100%;
    width: 100%;

}
.nav-list li a {
    opacity: 0.7;
    text-decoration: none;
    color: var(--White);
    padding: 1rem;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

.nav-list li i{
  padding-right:1em;
}
.nav-list li,
.nav-list li:hover{
        color: var(--White);
        font-size: .8em;
        font-weight: 400;
        text-decoration: none;
        width: 100%;
}
.nav-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width: 100%;
  }





/* Social links */
.social-links{
  display: none;
  justify-content: center;
  align-items: flex-end;
  line-height: 1.5em;
}

.social-links li a {
display: inline-block;
margin: 0 0.3em;
width: 30px;
height: 30px;
background-color: transparent;
border: 1px solid var(--White);
text-align: center;
}

.social-links li a:hover {
color: var(--White);
background-color: var(--Third-Light);
border-color: transparent;
}

.social-links li a i {
font-size: 1em;
line-height: 30px;
color: var(--White);
}
.social-links.active-sidebar{
    display: flex;
}




/*========= Media Queries Mobile Devices===========*/

@media screen and (max-width:900px) {
  body{
    height: 100%;
  }
  main {
    position: relative;
    top: 50px;
    left: 0;
    padding: 1.4em;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
}
  .sidebar{
   /* position:absolute;  */
      width: 100%;
      left:0;
      background-color: var(--Purple);
      height:50px;
  } 
.sidebar.active-sidebar{
   height:100%
} 
  .navbar{
    padding:0;
    height: 50px;
  }
  .navigation{
      width: 100%;
      z-index: 15;
  }

.navigation ul li{
width: 100%;
align-items: center;
} 
 .nav-list li a:hover, .nav-list li.active a {
  background-color: var(--Secondary-Light);
  opacity: 1;
  width: 100%;
  font-weight: bold;
}
.header-branding{
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      padding: .5em;
      height: 50px;
      width:100%;
      margin-bottom: 0;
}
   
.header-branding img{
          max-width:30px;
  /* margin:.6rem 1em; */
}

.nav-list,.brand-title, .social-header, .header-branding h1{
      display: none;
}
.sidebar ul{
    list-style: none; 
}
.nav-list ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    width: 100%;
    background-color: var(--Purple);
} 
.nav-list.active{
      display: flex;
}
#icon-burger {
    position: absolute;
    top: 1.5em;
    right: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 1em;
    display: flex;
}
.burger::before {
      top: -10px;
      left: 0;
}
.burger::after {
      top: 10px;
      left: 0;
}
.burger::before,
.burger::after {
      content: '';
      right:.95em;
      position:absolute;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition:0.5s; 
}
.burger,
.burger:after,
.burger:before{
      width: 30px;
      height: 2px;
       background:var(--White);
       transition: all .3s ease-in-out;
    }
#icon-burger.active-burger .burger {
      transform:rotate(180deg);
}
#icon-burger.active-burger .burger:before {
      top: -7px;
      right:-5px;
      width:17px;
      transform: translateY(11px) translateX(16px) rotate(-35deg);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
#icon-burger.active-burger .burger:after {
      top: 7px;
      right:-5px;
      width:17px;
      transform: translateY(-11px) translateX(16px) rotate(35deg);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.navigation.active{
      display: flex;
      position: relative;
}
.social-header.active{
  position: absolute;
  top:90vh;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list.active,
.sidebar.active-sidebar{
  display: block;
 height:100vh;
 z-index: 30;
 background-color: var(--Purple);
}
}
/* PAGE WRAPPER */
/* main {
  position: relative;
  top: 50px;
  left: 0;
  padding: 1.4em;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
}
.page-content{
  padding: 1.5rem;
} */

/* HOME PAGE */

/* .message {
  background-color: var(--Primary-Light);
  color:var(--White);
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left:50px;
  animation: openclose 5s ease-in-out infinite;
} */

/* #home h1 {
  color: var(--Primary-Font-Light);
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 700px;
} */


/*======Animation Home Page=======*/
/* @keyframes openclose {
  0% {
    top: 0.1rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 100%;
  }
  30% {
    top: 0.2rem;
    width: 100%;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: -1.4rem;
    width: 0;
  }
  38% {
    top: -1.4rem;
  }
  48% {
    top: -1.4rem;
    width: 90%;
  }
  62% {
    top: -1.4rem;
    width: 90%;
  }
  66% {
    top: -1.4rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -3rem;
    width: 0;
    text-indent: 2.5px;
  }
  86% {
    top: -3rem;
    width: 80%;
  }
  95% {
    top: -3rem;
    width: 80%;
  }
  98% {
    top: -3rem;
    width: 0;
    text-indent: 2.5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
} 
} */