*{
    margin: 0;
    padding: 0;
}
:root{
    --Green:#61DBD1;
    --Black: #262626;
    --Blue:#00ADDC;
    --Purple:#7F3F98;
    --Grey:#E5E5E5;
    --White:hsl(240,100%,99%);
    --heading-font-family:'Saira',Helvetica;
    --text-font-family:'Lato', sans-serif; 
  --Pink:	hsl(322, 70%, 33%);
  --Bleu:	hsl(174, 57%, 45%);
  --Green:hsl(135, 36%, 62%);
  --Grey:	hsl(0, 0%, 15%);
  --Black:	hsl(0, 0%, 5%);
  --Black:	hsl(0, 0%, 0%);
  --White:hsl(220, 23%, 97%);
}

.project-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.project-card{
    position: relative;
    cursor: pointer;
    display: block;
}

.project-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    text-transform: capitalize;
    opacity: 0;
}

.project-name{
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
}

.tags{
    position: absolute;
    bottom: 20px;
    opacity: 0.6;
    width: 90%;
}

.project-card:hover .content{
    opacity: 1;
}

.project-card.hide{
    display: none;
}