*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --Primary-Light:hsla(333, 56%, 16%, 0.95);
    --Primary-Font-Light:hsla(204, 4%, 9%, 0.95);
    --Secondary-Light:hsla(332, 67%, 27%, 0.95);
    --Third-Light:hsla(332, 64%, 46%, 1);
    --Contrast-Light:hsla(20, 18%, 23%, 0.95);
    --White:hsl(240,100%,99%);
    --heading-font-family:'Saira',Helvetica;
    --text-font-family:'Lato', sans-serif; 
  }
  
  body{
    height:100vh;
    width: 100vw;  
  }
  body::-webkit-scrollbar {
    display: none;
  }
  
  h1, h2, h3 {
  color: var(--Primary-Light);
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
  }
  h4{
  color: var(--Third-Light);
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1em;
  }
  h5, h6{
  color: var(--Primary-Font-Light);
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: .6em;
  }
  h3{
  font-size: 1.4em;
  }
  .block-title h3 {
  display: inline-block;
  position: relative;
  margin: 1.9em .7em .7em;
  padding: 0;
  color: var(--Primary-Light);
  }
  .block-title h3::before{
      position: absolute;
      content: "";
      width: 46px;
      height: 2px;
      background-color: var(--Primary-Light);
      left: 0;
      top:2.5rem;

  }
  
  
  .block-title h3::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    background-color: var(--Primary-Font-Light);
    left: 48px;
    top:2.5rem;
  }
  
main {
  width: calc(100vw - 220px);
    position: absolute;
    top: 0;
    left: 200px;
    padding: 1.4em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
}  

.inner-page{
  height: 90vh;
  width: calc(100vw - 220px);
  position: relative;
  background-color: rgba(255, 255, 255, 0.863);
  max-width: 1240px;
}
.inner-page .border{
width: 110px;
  height: 110px;
  border-top: 3px solid var(--Primary-Light);
  border-left: 3px solid var(--Primary-Light);
  left: 2em;
  top: 2em;
  display: inline-block;
  position: absolute;
  background: transparent;
  z-index: 2;
}
.page{
  padding: 2.5em 3em;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-y: scroll;
  background-color: transparent;
}
.page-content{
  display: flex;
  margin-top: 1em;
}
.page-title{
text-align:center;
}
.page-title h2{
display: block;
  width: auto;
  position: relative;
  margin: 12px 0 0;
  font-size: 3.5em;
  line-height: 1.1em;
  color: var(--Primary-Light);
  z-index: 1;
  font-family: var(--heading-font-family);
  text-transform: capitalize;
}
.page-title h3.title-desc{
display: inline-block;
margin: 0;
background-color: var(--Secondary-Light);
color: var(--White);
padding: 0 10px;
font-size: 1em;
font-weight: 400;
z-index: 2;
font-family: var(--text-font-family);
}

.cards-container{
display: flex;
}
.cards-container > *{
flex-basis: 100%;
}
.card{
padding: 1.5em 3em;
min-width: 10em;
min-height: 10em;
text-align: center;
margin:1em;
font-family: var(--text-font-family);
color: var(--Primary-Font-Light);
}
.card i{
font-size: 3.5em;
color: var(--Primary-Light);
}
.card img{
width: 4em;
}


/*===========================================================================
  HOME PAGE 
====================================================================*/
.home-page-description {
  color: var(--Dark-Grey);
  font-size: 2em;
  font-weight: 300;
  font-family: var(--text-font-family);
  font-weight: bold;
  margin: 0 0 .5rem;
}

#home h1 span {
  font-size: 35px;
 margin: 0 auto;
}
#home span{
  margin: 0 auto;
}

#home h2{
  text-align: center;
  margin-bottom: 2em;
  font-size: 2.5em;
}

.message {
  background-color: var(--Primary-Light);
  color:var(--White);
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left:150px;
  animation: openclose 5s ease-in-out infinite;
}

#home h1 {
  color: var(--Primary-Font-Light);
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 700px;
}

/*======Animation Home Page=======*/

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 100%;
  }
  30% {
    top: 0.2rem;
    width: 100%;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -3rem;
    
  }
  48% {
    top: -3rem;
    width: 90%;
  }
  62% {
    top: -3rem;
    width: 90%;
  }
  66% {
    top: -3rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -6rem;
    width: 0;
    text-indent: 2.5px;
  }
  86% {
    top: -6rem;
    width: 80%;
  }
  95% {
    top: -6rem;
    width: 80%;
  }
  98% {
    top: -6rem;
    width: 0;
    text-indent: 2.5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}







/*=============================================================================
ABOUT PAGE
=============================================================================*/
.page-content.grid-layout-3-col{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3,1fr);
  padding-top: 1.5em;
  position: relative;
  }
  .grid-col{
  display: block;
  float:left;
  margin: 1% 0 1% 1%;
  
  }
  
  .page-content.grid-layout-3-col img{
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  }
  
  .overview-text{
  padding:0 1.5em;
  line-height: 1.5em;
  color: var(--Dark-Grey);
  
  }
  /* About me list */
  .info-list {
  list-style: none;
  margin: 0;
  padding: 0 3em;
  line-height: 1.5em;
  }
  .info-list a{
  padding-right: 1em;
  text-decoration: none;
  color: var(--Primary-Font-Light);
  }
  
  .info-list li a i{
  text-decoration: none;
  color: var(--Primary-Light);
  margin-top: 1.5em;
  width: 34px;
  height: 34px;
  background-color: transparent;
  border: 1px solid var(--Primary-Light);
  text-align: center;
  font-size: 1.5em;
  padding: 5px 0;
  }
  .info-list li a i:hover{
  color: var(--White);
  background-color: var(--Secondary-Light);
  transition: all .5s ease-in-out;
  border: 1px solid var(--Secondary-Light);
  
  }
  
  .info-list li .title {
  display: inline-block;
  font-family: var(--heading-font-family);
  font-weight: 700;
  margin-right: 1em;
  color: var(--Dark-Grey);
  }
  
  .info-list li .title:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: -2px;
    background-color: var(--Dark-Purple);
  }
  
  .info-list li .value {
  font-family: var(--text-font-family);
  min-width: 15em;
  }
  
  .info-list.socials, .share-icon{
  display: flex;
  font-size: 16px;
  line-height: 32px;
  }
  /* Services */
  .card.fun{
  background: rgba(64, 18, 39, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(64, 18, 39, 0.3);
  }
  
  
  /*=========================================================================
      RESUME PAGE
  =========================================================================*/
  /* Timeline */
  /* .download-cv-block .button{
    margin: 0 3.5em;
  } */
  a.button,button .button,
  /* input[type=submit], 
  input[type=button],  */
  .download-cv-block .button{
    cursor:pointer;
	position:relative;
	padding:.5rem .8rem;
	background:#fffbf4;
	font-size:1.2rem;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	transition:all 1s;
  margin: 0 1em;
  margin-top: 1.2em;
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  }
  input[type=submit]::after, 
  input[type=button]::before,
  input[type=submit]::before, 
  input[type=button]::after,
  .download-cv-block .button::after,
  .download-cv-block .button::before{
		content:" ";
		width:10px;
		height:10px;
		position:absolute;
		border :0px solid #fff;
		transition:all 1s;
  }
  /* input[type=submit]::before, 
  input[type=button]::before, */
  .download-cv-block .button::before{
		top:-1px;
		left:-1px;
		border-top:2.5px solid black;
		border-left:2.5px solid black;
    z-index: 10;
    position: absolute;
	}
  /* input[type=button]::after,
  input[type=submit]::after, */
  .download-cv-block .button::after{
    bottom:-1px;
		right:-1px;
		border-bottom:2.5px solid black;
		border-right:2.5px solid black;
  }
  /* input[type=button]:hover, */
  .download-cv-block .button:hover{
    border-top-right-radius:0px;
	  border-bottom-left-radius:0px;
  }

  /* input[type=button]:hover::after,
  input[type=button]:hover::before, */
  .download-cv-block .button:hover::after,
  .download-cv-block .button:hover::before{
    width:102%;
			height:104%;
  }

  .timeline-event{
    /* padding-left: 20px; */
    padding-bottom: 20px;
  }
  .timeline-event > * {
    display: block;
  }
  .event-date {
    display: inline-block;
    position: relative;
    color: var(--White);
    font-weight: 300;
    line-height: 1.1em;
    margin: 0 0 3px;
    background-color: var(--Contrast-Light);
    padding: 5px 8px 5px 20px;
    margin-left: 1em;
    font-family: var(--heading-font-family);
    font-size: 0.83em;
  }
  .event-name,
  .event-description,
  .timeline-event p {
    margin: .7em 1em;
    line-height: 1.5em;
  }
  .event-description {
    color: var(--Primary-Font-Light);
    font-size: .9em;
    font-weight: bold;
    line-height: 1.45em;
  }
  
  .timeline-event p{
    font-size: 0.875em;
    font-weight: 300;
    font-family: var(--text-font-family);
  }
  .skills-info h4{
    margin: 0 1em;
  }
  .progress {
    background-color:hsla(343, 6%, 72%, 0.32);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: .6em;
    width: 70%;
    margin: 0 1em;
  }
  
  .progress-value {
    /* box-shadow: 0 10px 40px -10px var(--Secondary-Light); */
    border-radius: 100px;
    background: var(--Primary-Light);
    height: .5em;
    width: 0;
    z-index: 1;
    
  }
  
  .progress-value small{
  right: -3em;
  position: absolute;
  top:-.3em;
  text-align: right;
  font-size: .8em;
  color: var(--Primary-Light);
  font-weight: bold;
  font-family: var(--heading-font-family);
  }
  
  .progress-value.webdesign-skill{
    animation: load-WebDesign 2s ease-in-out forwards;
  }
  .progress-value.print-skill{
    animation: load-print 2s ease-in-out forwards;
  }
  .progress-value.grafic-skill{
    animation: load-grafic 2s ease-in-out forwards;
  }
  .progress-value.html-skill{
    animation: load-html 2s ease-in-out forwards;
  }
  .progress-value.css-skill{
    animation: load-css 2s ease-in-out forwards;
  }
  .progress-value.js-skill{
    animation: load-js 2s ease-in-out forwards;
  }
  .progress-value.php-skill{
    animation: load-php 2s ease-in-out forwards;
  }
  .progress-value.wp-skill{
    animation: load-wp 2s ease-in-out forwards;
  }
  
  @keyframes load-WebDesign {
    0% { width: 0; }
    100% { width: 70%; }
  }
  @keyframes load-print {
    0% { width: 0; }
    100% { width: 30%; }
  }
  @keyframes load-grafic {
    0% { width: 0; }
    100% { width: 30%; }
  }
  @keyframes load-html {
    0% { width: 0; }
    100% { width: 90%; }
  }
  @keyframes load-css {
    0% { width: 0; }
    100% { width: 80%; }
  }
  @keyframes load-js {
    0% { width: 0; }
    100% { width: 50%; }
  }
  @keyframes load-php {
    0% { width: 0; }
    100% { width: 40%; }
  }
  @keyframes load-wp {
    0% { width: 0; }
    100% { width: 70%; }
  }
  
  /*=========================================================================
    CONTACT PAGE
  ==========================================================================*/
  .contact-page{
  display: flex;
  }
  .contact-page > * {
  flex: 1 1 50%;
  padding: 0 1em;
  }
  
  .contact-info-block {
  display: flex;
  width: 100%;
  height: 2em;
  padding: .3em;
  color: var(--Primary-Font-Light);
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  }
  .contact-info-block p{
  color: var(--Primary-Font-Light);
  font-size: 0.8em;
  font-family: var(--text-font-family);
  
  }
  .contact-page p, 
  .contact-page form{
  padding: 0 .5em;
  font-weight: 400;
  line-height: 1.5;
  margin: 2em 0;
  }
  .ci-icon{
  padding-right: 1em;
  }
  
  
  .form-control, .form-control:focus, .has-error .form-control, .has-error .form-control:focus {
  position: relative;
  border: 1px solid #bbb;
  border-radius: 0;
  display: block;
  font-size: 0.9em;
  margin: 0.6em 0;
  padding: .6em 10em .6em .6em;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-family: var(--text-font-family);
  }
  
  /*buttons styling*/
  /* input[type=submit], input[type=button], button, a.button,.button {
  display: inline-block;
  position: relative;
  padding: 0.8em 2em;
  margin-bottom: 0.25em;
  font-size: 0.875em;
  line-height: 1.2;
  border: 0;
  outline: 0;
  border: 2px solid var(--Primary-Light);
  color: var(--Dark-Grey);
  font-weight: bold;
  text-shadow: none;
  background: none;
  border-radius: 0;
  font-family: var(--heading-font-family);
  text-decoration: none;
  margin-top: 2em;
  }
   */
  /* .button:hover{
    background-color: var(--Primary-Light);
    color: var(--White);
  } */
  
  
  /* .button.bg-slide::before{
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--Primary-Light);
    z-index: -1;
    transform:scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
  }
  
  .button.button.bg-slide{
    z-index: 1;
  }
  
  .button.button.bg-slide:hover{
    color: var(--White);
    transition: ease-in-out 300ms;
  }
  
  .button.bg-slide:hover::before,
  .button.bg-slide:focus::before{
    transform: scaleX(1);
  }
   */
  
  /* =========================SCROLL BAR====================================== */
  .inner-page::-webkit-scrollbar {
    width: 3px; /* width of the entire scrollbar */
    transition:all 0.2s 0s ease-in;
    cursor: pointer;
  }
  /* .inner-page{
    scrollbar-width: 3px; /* "auto" or "thin" 
    scrollbar-color: var(--Primary-Light) rgb(164, 164, 164); /* scroll thumb and track 
    transition:all 0.2s 0s ease-in;
  } */
  .inner-page::-webkit-scrollbar-track {
    background: rgb(164, 164, 164); /* color of the tracking area */
  }
  
  .inner-page::-webkit-scrollbar-thumb {
    background-color: var(--Primary-Light); /* color of the scroll thumb */
    transition:all 0.2s 0s ease-in;
    border-radius: 20px; /* roundness of the scroll thumb */
     /*border: 2px solid rgb(61, 61, 61); creates padding around scroll thumb */
  }
  /* Works on Firefox */
  .inner-page * {
  scrollbar-width: 3px;
  scrollbar-color: var(--Primary-Light) rgb(164, 164, 164);
  transition:all 0.2s 0s ease-in;
  cursor: pointer;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
  width: 3px;
  transition:all 0.2s 0s ease-in;
  cursor: pointer;
  }
  
  *::-webkit-scrollbar-track {
  background: rgb(223, 221, 221);
  width:3px;
  }
  
  *::-webkit-scrollbar-thumb {
  background-color: var(--Primary-Light);
  border-radius: 20px;
  transition:all 0.2s 0s ease-in;
  /* border: 2px solid orange; */
  }
  
  
  /*==============================================================================
  PORTFOLIO
  =================================================================*/
  #portfolio_grid{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  }
  
  #portfolio_grid > *{
  flex: 1 1 30%;
  margin: .5em;
  }
  .filters{
  margin-top: 1.5em;
  }
  .portfolio-filters {
    list-style: none;
    padding: 0;
    margin: 0 0 2em;
    text-align: center;
    font-family: var(--text-font-family);
  }
  .portfolio-filters li {
  display: inline-block;
  padding: 5px 10px;
  font-size: .9em;
    line-height: 1.5;
    cursor: pointer;
    width: auto;
    border: none;
  }
  
  /* .portfolio-filters li a, .portfolio-filters li a:hover {
  color: var(--Primary-Font-Light);
  text-decoration: none;
  } */
  .portfolio-filters li:hover,
  .portfolio-filters li.active{
  background-color: var(--Primary-Light);
  color: var(--White);
  font-weight: bold;
  transform: translateX(5%);
  }
  .filter-btn{
  line-height: 1.5em;
  }
  .portfolio-grid i{
  color: var(--White);
  }
  
  .portfolio-grid figure {
  visibility: visible;
  opacity: 1;
  }

  .project-title{
    position: relative;
    padding-bottom: 8px;
  }
  .project-title h2::before{
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    background-color: var(--Primary-Font-Light);
    top:3rem;
    
}
.project-title h2::after{
  position: absolute;
  content: "";
  width: 2px;
  height: 2px;
  background-color: var(--Secondary-Light);
  top:3rem;
  left: 98px;
}
  .project-description{
  cursor: pointer;
  opacity: 0;
  }
  
  .project-description:hover, .portfolio-grid figure a{
  background-color: var(--Primary-Light);
  color: var(--White);
  opacity: 1;
  transition: width .1s ease-in;
  } 
  
  .portfolio-grid img:hover{
  background-color: var(--Primary-Light);
  }
  
  .portfolio-grid img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0;
  }
  .portfolio-grid figure a {
  position: relative;
  display: block;
  overflow: hidden;
  }
  .project-description{
  font-size: 1.25rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--text-font-family);
  text-align: left;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1em;
  color: white;
  z-index: 100;
  opacity: 0;
  transform: translate3d(0, -50%, 0);
  transition: ease-in .3s 0s;
  }
  .project-menu-block{
  display: flex;
  justify-content: space-between;
  }
  .delete{
    display: none;
  }
  figure .active{
display: flex;
  }
  
  /*======================================================================
      PAGE PROJET CARCASSE
  ======================================================================*/
  .third-grid-layout{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
  }
  .third-col{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third-col-right{
    padding: 0 1.5rem
  }
  .project-page-description{
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  }
  .block-title.project{
    margin-bottom: 0;
  }
  .tech-block{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
  }
  
  .tech-block div{
    width: 6em;
    background-color: var(--Secondary-Light);
    margin:.5em;
    padding: .5em;
    font-size: .7em;
    font-weight: 400;
    color: var(--White);
    border: none;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -29px -11px 14px -26px rgba(100,20,50,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -29px -11px 14px -26px rgba(100,20,50,0);
  }
  .tech-block span .label{
    display: block;
  }
  
  .share-section ul{
  padding:0 1em;
  }



  /*==========================================================================
    ANIMATIONS DE PAGE
  =================================================================*/


  .page-wrapper.slide-Left{
    overflow:hidden;
    animation: 2s 1 SlideLeft;
    transition: SlideLeft ease-in;
  }
  .page-wrapper.slide-Right{
    overflow:hidden;
    animation: 2s 1 SlideRight;
    transition: SlideRight ease-in;
  }
  .page-wrapper.slide-Top{
    overflow:hidden;
    animation: 2s 1 SlideTop;
    transition: SlideTop ease-in;
  }
  .page-wrapper.slide-Bottom{
    overflow:hidden;
    animation: 2s 1 SlideBottom;
    transition: SlideBottom ease-in;
  }



  
    